.block {
	border-radius: 2px;
	margin-bottom: 20px;
	background-color: #fff;
	color: #333;
	transition: all .2s ease-in-out;
}
	.block > .section { 
		padding: 20px; 
		margin: 0;
		border-bottom: 1px solid rgba(0,0,0,.05);
	}
	.block > .section.media { padding: 0; }
		.block > .section.media img { width: 100%; }
	
	.block > .section:first-child,
	.block > .section.media:first-child img { border-top-left-radius: 2px; border-top-right-radius: 2px; }
	
	.block > .section:last-child,
	.block > .section.media:last-child img { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; border-bottom: none; }
	
		.block > .section > :last-child { margin-bottom: 0; }
		
@media (min-width: 1480px) {
	.block {
		margin-bottom: 30px;
	}
}