.controls {
	position: relative;
	z-index: 100;
}

.controls.icon-text > ul.nav-pills > li {}

	.controls.icon-text > ul.nav-pills > li > a {
		height: 40px;
		border-radius: 40px;
		line-height: 40px;
		padding: 0 20px 0 10px;
		color: rgba(255,255,255,.75);
		transition: all .3s ease-in-out;
	}
	.controls.icon-text > ul.nav-pills > li > a:hover {
		color: #fff;
		background-color: transparent;
	}
	.controls.icon-text > ul.nav-pills > li > a:focus {
		color: #fff;
		background-color: transparent;
	}
	.controls.icon-text > ul.nav-pills > li.active > a,
	.controls.icon-text > ul.nav-pills > li.active > a:hover {
		background-color: rgba(255,255,255,.1);
		color: #fff;
	}
	
	
.controls.nav.pull-right { margin-right: -5px; margin-top: -5px; }
.controls.small.nav > li > a { font-size: 12px; padding: 8px 12px; }