.checkbox:first-child,
.radio:first-child { margin-top: 0; }

.checkbox:last-child,
.radio:last-child { margin-bottom: 0; }

.checkbox > .checkbox,
.checkbox > .radio,
.radio > .radio,
.radio > .checkbox { padding-left: 20px; }