.media {
	position: relative;
	min-height: 50px; 
}

	.media img { 
		width: 100%; 
	}
	
	.media .spinner {
		position: absolute;
		width: 40px;
		height: 40px;
		padding: 8px;
		top: 50%;
		left: 50%;
		margin: -20px 0 0 -20px;
		z-index: -1;
		opacity: 0;
	}
	.media .spinner[active] {
		opacity: 1;
		z-index: 1000;
	}