.dropdown.inverted > .arrow { border-color: #212121; }
.dropdown.inverted > .dropdown-menu { background-color: #212121; }
	.dropdown.inverted > .dropdown-menu > li > a { color: #4cf; }
	.dropdown.inverted > .dropdown-menu > li > a:hover,
	.dropdown.inverted > .dropdown-menu > li > a:focus,
	.dropdown.inverted > .dropdown-menu > li.active > a { 
		background-color: rgba(255,255,255,.1);
		color: #fff;
	}
	.dropdown.inverted > .dropdown-menu > li.divider {
		background-color: rgba(255,255,255,.1);
	}