body {
	font-family: "Roboto", Arial, sans-serif;
	margin: 0;
	padding: 80px 0 20px;
	background-color: #eee;
	transition: all .3s ease-in-out;
	color: #333;
}
body.header-hidden {
	padding-top: 30px !important;
}

@media (min-width: 1480px) {
	body {
		padding: 90px 30px 30px 265px;
	}
	html.thin body { 
		padding-left: 20px; 
		padding-right: 20px; 
	}
}