#pageLoading {}
#pageLoading .indicator {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	z-index: 1000;
	transition: all .3s ease-in-out;
}
#pageLoading:not(.visible) .indicator {
	visibility: hidden;
	transform: scale(0,0);
}