#pageLoading {}
#pageLoading .indicator {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80px;
	margin-left: -40px;
	margin-top: -40px;
	z-index: 1000;
	border-radius: 40px;
	transition: all .2s ease-in-out;
}
#pageLoading:not(.visible) .indicator {
	visibility: hidden;
	transform: scale(0,0);
}
	#pageLoading .indicator > .section {
		height: 80px;
		position: relative;
	}
		#pageLoading .indicator > .section > paper-spinner {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -14px 0 0 -14px;
		}
		#pageLoading .indicator paper-spinner::shadow .circle {
			border-color: #666;
		}