#docs { text-align: justify; position: relative; }

	#docs ul.methods,
	#docs ul.properties { padding-left: 0; }

		#docs ul.methods > li,
		#docs ul.properties > li {
			list-style: none;
			margin-bottom: 30px;
		}
		
	#docs .indent {
		padding-left: 40px;
	}
		

#toc {
	position: relative;
}
	#toc > .block {
		position: absolute;
		top: 10px;
		right: 10px;
		background-color: #fff;
		z-index: 100;
	}
	
	
.class-method {
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
}